<div class="text-center">
  <div class="row" id="header">
    <div class="col"><h3>Story</h3></div>
    <div class="col"><h3>To do</h3></div>
    <div class="col"><h3>In progress</h3></div>
    <div class="col"><h3>Testing</h3></div>
    <div class="col"><h3>Done</h3></div>
    <div class="col"><h3>Blocked</h3></div>
  </div>
  <div class="row">
    <div class="col"> <app-story></app-story></div>
    <div class="col"><app-todo></app-todo></div>
    <div class="col"><app-inprogress></app-inprogress></div>
    <div class="col"><app-testing></app-testing></div>
    <div class="col"><app-done></app-done></div>
    <div class="col"><app-blocked></app-blocked></div>
  </div>
</div>