table {
    width: 100%;
}

td {
    border: 5px solid white;
}

#header {
    height: 75px;
}

#story {
    border-radius: 20px;
    background: linear-gradient(225deg, #7f7e84, #6b6a6f);
    color: white;
    margin-top: 1%;
    padding-top: 3%;
    padding-bottom: 3%;
    margin: 0% 1%;
}

#todo {
    border-radius: 20px;
    background: linear-gradient(225deg, #9b46b8, #833b9b);
    color: white;
    margin-top: 1%;
    padding-top: 3%;
    padding-bottom: 3%;
    margin: 0% 1%;
}

#inprogress {
    border-radius: 20px;
    background: linear-gradient(225deg, #398df4, #3077cd);
    color: white;
    margin-top: 1%;
    padding-top: 3%;
    padding-bottom: 3%;
    margin: 0% 1%;
}

#testing {
    border-radius: 20px;
    background: linear-gradient(225deg, #ff8000, #e66c00);
    color: white;
    margin-top: 1%;
    padding-top: 3%;
    padding-bottom: 3%;
    margin: 0% 1%;
}

#done {
    border-radius: 20px;
    background: linear-gradient(225deg, #29ad70, #22925f);
    color: white;
    margin-top: 1%;
    padding-top: 3%;
    padding-bottom: 3%;
    margin: 0% 1%;
}

#blocked {
    border-radius: 20px;
    background: linear-gradient(225deg, #fe373f, #d52e35);
    color: white;
    margin-top: 1%;
    padding-top: 3%;
    padding-bottom: 3%;
    margin: 0% 1%;
}