<div class="text-center">
  <table>
  <tr id="header">
    <td><h3>Story</h3></td>
    <td><h3>To do</h3></td>
    <td><h3>In progress</h3></td>
    <td><h3>Testing</h3></td>
    <td><h3>Done</h3></td>
    <td><h3>Blocked</h3></td>
  </tr>
  <tr>
    <td id="story"><h5>Kuba to ciubik</h5></td>
    <td id="todo"><h5>Kuba to ciubik</h5></td>
    <td id="inprogress"><h5>Kuba to ciubik</h5></td>
    <td id="testing"><h5>Kuba to ciubik</h5></td>
    <td id="done"><h5>Kuba to ciubik</h5></td>
    <td id="blocked"><h5>Kuba to ciubik</h5></td>
  </tr>
  </table> 
</div>